/*
    COLOUR SCHEME
 */

:root {
    --primary-color: 63, 51, 78;
    --secondary-color: 100, 81, 124;
    --tertiary-color: 182, 170, 192;
}

/*
    BUTTONS
 */

.button-rectangle {
    background-color: rgb(var(--tertiary-color));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.button-rectangle:hover {
    transform: scale(1.1);
}

.button-fancy {
    background-color: white;
    color: rgb(var(--secondary-color));
    border: 1px solid rgb(var(--secondary-color));
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.button-fancy:hover {
    transform: scale(1.1);
    background: rgb(var(--primary-color));
    color: #FFF;
}

.button-round {
    background-color: rgb(var(--primary-color));
    color: white;
    border: none;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 16px;
    margin-left: 10px;
    transition: all 0.1s ease;
}
.button-round:hover {
    transform: scale(0.9);
    background: #FFF;
    color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--primary-color));
}

.button-collapsible {
    color: rgb(var(--secondary-color));
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.button-collapsible:hover {
    background-color: rgb(var(--tertiary-color));
}
.button-collapsible-icon {
    margin-right: 5px;
}

/*
    INPUT FIELDS
 */

.input-field {
    border-radius: 20px;
    border: 1px solid rgb(var(--secondary-color));
    color: rgb(var(--secondary-color));
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.input-field::placeholder {
    color: rgb(var(--tertiary-color));
}

/*
    REQUIREMENTS TABLE
 */

.requirements-table {
    width: 100%;
    border-collapse: collapse;
}
.requirements-table th,
.requirements-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.requirements-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.requirements-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.requirements-table tbody tr:hover {
    background-color: #eaf6ff;
}
.requirements-table td:first-child {
    width: 50px;
    text-align: center;
}
.requirements-table td:last-child {
    width: 50px;
    text-align: center;
}

/*
    HEADERS
 */

.login-container {
    display: grid;
    place-items: center;
    margin: 40px 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

/*
    HEADERS
 */

h1 {
    color: rgb(var(--secondary-color));
    display: block;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    color: rgb(var(--secondary-color));
    display: block;
    font-size: 2em;
    font-weight: bold;
}
